.container {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin-top: 30px;
}

.buttons {
    display: flex;
    column-gap: 20px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}